@import "https://unpkg.com/ress/dist/ress.min.css";
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body{
  font-size: 1.6em;
  line-height: 1;
}
img{
  max-width: 100%;
}






header{
  position: relative;
  height: 100vh;
  background: url(../img/umi0.jpg);
}
header h1{
  position: absolute;
  left: 0;
  bottom: 80px;
}
header span{
  display: block;
  width: fit-content;
  font-weight: bold;
  padding: 0.25em 40px;
}
header .course{
  font-size: 1em;
  background: #fff;
  margin-bottom: 1em;
}
header .name{
  font-size: 3em;
  background: #212121;
  color: #fff;
}






.profile{
  width: 1000px;
  margin: auto;
}
.profile dl{
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.8;
}
.profile dt{
  margin-right: 4em;
}






article{
  padding: 100px 0;
}

section{
  width: 1000px;
  margin: 40px auto;
}






.intro:first-of-type{
  padding-top: 100px;
  margin-top: 100px;
  border-top: 1px solid #212121;
}
.intro h2{
  width: fit-content;
  font-size: 2em;
  padding: 0.25em 1em;
  background: #212121;
  color: #fff;
  font-weight: normal;
}
.intro h3{
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.intro p{
  line-height: 1.5;
}






.img-divider{
  display: block;
  max-width: 1200px;
  margin: auto;
}






.concern{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
  margin-top: 100px;
  border-top: 1px solid #212121;
}
.concern h2{
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}
.concern h2 span{
  margin-left: 2em;
  font-size: 0.8em;
}
.concern figure{
  width: 32%;
  position: relative;
}
.concern figcaption{
  position: absolute;
  bottom: 1em;
  left: 0;
  padding: 0.25em 1em;
  background: #212121;
  color: #fff;
}
.concern img{
  width: 320px;
  height: 640px;
  object-fit: cover;
}






footer{
  text-align: center;
  background: #212121;
  color: #fff;
  padding: 20px 0;
}